@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #16092e;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-imagem {
margin-top: 50px;
}
.sessao-imagem img {
    width: 500px;
    height: 500px;
 }
 .sessao-imagem h1 {
     color: rgb(247, 238, 255);
     text-shadow: 1px 1px 10px #6b216b;
     text-align: center;
 }
.login {
    width: 400px;
    height: 70vh;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #2f204d;
    border-radius: 20px;
}
.login h1 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #9459fa;
    box-shadow: 0px 5px 30px rgb(78, 4, 128);
}
.login input {
  width: 70%;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #af9ad3;
 padding-left: 5px;
  color: rgb(40, 6, 51);
  outline: none;
  border: none;
}
input::placeholder {
    padding-left: 10px;
    font-size: 15px;
    color: rgb(44, 7, 75);
    font-weight: 500;
}
.botao {
    width: 70%;
    height: 38px;
    font-size: 17px;
    background-color: #31eea9;
    color: #0a031a;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.botao:hover {
    background-color: #2dcf94;
    text-decoration: underline;
}@media(max-width: 600px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 160px;
    }
    .sessao-imagem img {
        width: 500px;
        height: 360px;
     }
     .login {
         width: 400px;
         margin-bottom: 50px;
         margin-left: 20px;
         margin-right: 20px;
         padding-bottom: 50px;
     }
     .botao {
         font-size: 14px;
     }


}
@media(max-width: 430px ) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 160px;
    }
    .sessao-imagem img {
        width: 400px;
        height: 360px;
     }
     .login {
         width: 300px;
         margin-bottom: 50px;
         margin-left: 20px;
         margin-right: 20px;
         padding-bottom: 50px;
        }
        .botao {
            font-size: 14px;
        }
   
}